body {
    background-image: url("../images/background_image.jpeg");
    background-size: cover;
}

/* Character Options */
.player-image {
    border:5px solid white;
}

.caption {
    background-color: white;
}

.player-box {
    border: 2px solid green;
}

/* Character Selected */
.user_player-image {
    border:5px solid white;
}

.user_caption {
    background-color: white;
}

.user_player-box {
    border: 2px solid green;
}

/* Enemy Options */

.enemies_player-image {
    border:5px solid red;
}

.enemies_caption {
    background-color: red;
}

.enemies_player-box {
    border: 2px solid black;
}


/* ________ */

.enemy-box {
    border: 2px solid black;
}

.enemy-image {
    border:5px solid red;
}

.enemy-caption {
    background-color:red;
}

.defender-image {
    border: 5px solid black;
}

.defender-caption {
    background-color: black;
    color: white;
}

.character-options {
    height:165px;
}

.character-selected {
    height:165px;
}

.enemy-options {
    height:165px;
}


