body {
    background-image: url("../images/background_image.jpeg");
    background-size: cover;
}

.player-image {
    border:5px solid white;
}

.caption {
    background-color: white;
}

.player-box {
    border: 2px solid green;
}

.enemy-box {
    border: 2px solid black;
}

.enemy-image {
    border:5px solid red;
}

.enemy-caption {
    background-color:red;
}

.defender-image {
    border: 5px solid black;
}

.defender-caption {
    background-color: black;
    color: white;
}

